{include file="Public/header" /}
<body>
<!-- banner -->
<div class="w3layouts-banner">
    <div class="container">
        <nav class="navbar navbar-default">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a class="navbar-brand" href="#">DIDACTIC</a></h1>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#index.html" class="page-scroll">首页</a></li>
                    <li><a href="#about" class="page-scroll">关于</a></li>
                    <li><a href="#testimonials" class="page-scroll">团队</a></li>
                    <li><a href="#contact" class="page-scroll">联系</a></li>
                    <li><a href="/article/article/index" class="page-scroll">文章</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->

        </nav>
        <div class="w3l_banner_info">

            <section class="slider">
                <div class="flexslider">

                    <ul class="slides">
                        <li>
                            <div class="wthree_banner_info_grid">
                                <h3>Education Is Life</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet nibh at ligula pharetra, eu semper dui tristique. Phasellus mi sapien.</p>
                            </div>
                        </li>
                        <li>
                            <div class="wthree_banner_info_grid">
                                <h3>Never Stop Learning</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet nibh at ligula pharetra, eu semper dui tristique. Phasellus mi sapien.</p>
                            </div>
                        </li>
                        <li>
                            <div class="wthree_banner_info_grid">
                                <h3>Learning Never Ends</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet nibh at ligula pharetra, eu semper dui tristique. Phasellus mi sapien.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>


        </div>

    </div>
</div>
<!-- //banner -->

<!-- About Us -->
<div class="aboutus" id="about">
    <div class="container">
        <h3>关于我们</h3>
        <p class="w3_dwn">{$setting_list['about_us']}</p>

    </div>

</div>

<!-- /About Us -->

<!-- Clients -->
<div class="clients" id="testimonials">
    <div class="container">
        <h3>团队介绍</h3>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row" style="padding: 20px">
                        <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                        <p class="testimonial_para">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo en.</p><br>

                        <div class="col-sm-1">
                            <img src="__PUBLIC__/static/index/images/t1.jpg" class="img-responsive" style="width: 80px">
                        </div>
                        <div class="col-sm-11">
                            <h4>Jack Andreson</h4>
                            <h6>Old Student</h6>
                            </p>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="row" style="padding: 20px">
                        <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                        <p class="testimonial_para">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo en.</p><br>
                        <div class="row">
                            <div class="col-sm-1">
                                <img src="__PUBLIC__/static/index/images/t2.jpg" class="img-responsive" style="width: 80px">
                            </div>
                            <div class="col-sm-11">
                                <h4>Kiara Andreson</h4>
                                <h6>Old Student</h6>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row" style="padding: 20px">
                        <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                        <p class="testimonial_para">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo en.</p><br>
                        <div class="row">
                            <div class="col-sm-1">
                                <img src="__PUBLIC__/static/index/images/t3.jpg" class="img-responsive" style="width: 80px">
                            </div>
                            <div class="col-sm-11">
                                <h4>Amy</h4>
                                <h6>Old Student</h6>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row" style="padding: 20px">
                        <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                        <p class="testimonial_para">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo en.</p><br>
                        <div class="row">
                            <div class="col-sm-1">
                                <img src="__PUBLIC__/static/index/images/t4.jpg" class="img-responsive" style="width: 80px">
                            </div>
                            <div class="col-sm-11">
                                <h4>Laila</h4>
                                <h6>Old Student</h6>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="controls testimonial_control pull-right">
            <a class="left fa fa-chevron-left btn btn-default testimonial_btn" href="#carousel-example-generic"
               data-slide="prev"></a>

            <a class="right fa fa-chevron-right btn btn-default testimonial_btn" href="#carousel-example-generic"
               data-slide="next"></a>
        </div>
        <div class="clearfix"></div>



    </div>
</div>
<!-- /Clients -->

<!-- Contact Us-->
<div class="contact" id="contact">
    <div class="container">
        <h3>联系我们</h3>
        <div class="w3_cr">
            <form action="#" method="post">
                <div class="w3_txt">
                    <input type="text" name="name" placeholder=" Name" required="">
                </div>
                <div class="agile_dwn">
                    <div class="w3ls_lft">
                        <input type="email" name="email" placeholder="Mail ID" required="">
                    </div>
                    <div class="w3ls_rgt">
                        <input type="text" name="phonenumber" placeholder="PhoneNumber" required="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="wthree_tt">
                    <textarea name="text" placeholder="Enter Message" required=""></textarea>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- /Contact Us-->

<!-- Footer-->
<div class="footer">
    <div class="container">
        <div class="col-md-3 wthree_l">
            <h4>联系信息</h4>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>{$setting_list.site_address}</p>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>{$setting_list.site_phone}</p>
            <i class="fa fa-user" aria-hidden="true"></i>
            <p>{$setting_list.contact_name}</p>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <p><a href="{$setting_list.site_email}">{$setting_list.site_email}</a></p>

        </div>

        <div class="clearfix"></div>
    </div>

</div>

<div class="footerdown">
    <p>Copyright &copy; 2020.Company name All rights reserved.</p>
</div>
<!--/Footer-->
<script src="__PUBLIC__/static/index/js/jquery.min.js"></script>
<script src="__PUBLIC__/static/index/js/jquery.easing.min.js"></script>
<script src="__PUBLIC__/static/index/js/move-top.js"></script>
<script src="__PUBLIC__/static/index/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/static/index/js/grayscale.js"></script>
<script src="__PUBLIC__/static/index/js/SmoothScroll.min.js"></script>
<script defer src="__PUBLIC__/static/index/js/jquery.flexslider.js"></script>
<script src="__PUBLIC__/static/index/js/simpleLightbox.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        $('.flexslider').flexslider({
            animation: "slide",
            start: function(slider){
                $('body').removeClass('loading');
            }
        });
    });
</script>

<!-- Light box js-file-->

<script>
    $('.w3layouts_gallery_grid a').simpleLightbox();
</script>
<!-- //Light box js-file-->

<script>
    var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
        showRightPush = document.getElementById( 'showRightPush' ),
        body = document.body;

    showRightPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toleft' );
        classie.toggle( menuRight, 'cbp-spmenu-open' );
        disableOther( 'showRightPush' );
    };

    function disableOther( button ) {
        if( button !== 'showRightPush' ) {
            classie.toggle( showRightPush, 'disabled' );
        }
    }
</script>

<!-- Move-Top JS-->
<script type="text/javascript">
    $(document).ready(function() {
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>

<!-- /Move-Top JS-->
</body>
</html>